.switch {
    display: flex;
    margin: 3vw 0 3vw 0;
    justify-content: center;
}

.option {
    display: inline-block;
padding: 4px 16px;
    background: #E8F4EA;
    cursor: pointer;

    color: #242424;
    font-weight: bold;
}

.option:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.option:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.option.active {
    background-color: #3AB09E;
    color: black;
    font-weight: bold;
}