.card {
    margin-bottom: 30px;
}

.image{
    padding: 20px;
    max-width: 180px;
    margin: auto;
}

.title  {
    margin-bottom:0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.specie {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}