.navBar {
    background: white url("../../assets/img/ac-sky.png");

    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    width: 50px;
    transition: all 1000ms;
}

.logo:hover {
    transform: rotate(-25deg);
}

.navItem a {
    font-weight: bold;
    padding: 5px 30px !important;
    color: #242424 !important;
}