


.footer {
    color: black;
    font-weight: bold;
    padding-bottom: 50px;
    margin-top: 100px;
}

#course {
    /*font-size: 20px;
    margin-right: 30px;
    max-width:250px;*/
    display: flex;
    align-items: center;
    margin-right: 30px;

}

.logo{
    margin: 0 6px;
    align-self: center;
}

.logo img{
    width: 4vw;
    min-width: 50px;

}

.footerNavLink{
    text-decoration: none;
    color: black;
}
.footerNavLink:hover {
    text-decoration: underline;
    color: black;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: left;
    padding-left: 30px;
}

.footerNav {
    display: flex;
    justify-content: end;
    text-align: right;
    padding-right: 50px;
    border-right: 2px solid black;
}


@media screen and (max-width: 767px) {
 .copyright {
     display: flex;
     flex-direction: row;
     justify-content: center;
     text-align: center;
     border-top: 2px solid black;
     margin-right: 20px;
     margin-left: 20px;
     padding: 20px 15px 0 15px;

 }

    .footerNav {
        display: flex;
padding-bottom: 20px;
        justify-content: center;
        text-align: center;
        padding-right: 0px;
        border-right: 0px;

    }

}