@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(14px, 2vw,  22px);
    font-weight: normal;
    scroll-behavior: smooth;

    background-image: url("../src/assets/img/background-AC-Sfondo.jpg");
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

footer{
    background-image: url("../src/assets/img/background-AC-Terra.jpg");
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
}

.activeRouterLink, .activeRouterLink:hover{
    text-decoration: underline !important;
    color: black !important;
}
.activeRouterLink>.itemLogoIcon, :not(.activeRouterLink):hover>.itemLogoIcon{
    width: clamp(14px, 2vw,  24px);
    margin-right: 5px;
    transition: all 500ms;
}
:not(.activeRouterLink)>.itemLogoIcon{
    width: 0;
    transition: all 500ms;
}

:not(.activeRouterLink), :not(.activeRouterLink):hover{
color: black;
}


.button {
    background-color: #FDF5E6;
    border: 3px solid;
    border-color: #FDF5E6;
    border-radius: 40px;
    padding: 20px 20px 20px 20px;

}


.button:hover {
    color: black;
    background:#3AB09E;
    border-color: #3AB09E;
    text-decoration-line: none;
}

