@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(14px, 2vw,  22px);
    font-weight: normal;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #dd092f;
}


a:hover {
    text-decoration: none;
    color: #f70931;
}